body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-image: url('yobanner-');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
